@import "tailwindcss";
@plugin "daisyui"{
  themes: caramellatte --default, coffee --prefersdark;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

button:hover {
  cursor: pointer;
}

iframe, canvas {
  max-width: 100%;
}